# total_order_means_payment.html
{% extends "admin/change_list.html" %}

{% block result_list %}
<div class=”results”>
    <table>

    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Meio de pagamento</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr class=”{% cycle 'row1' 'row2' %}”>
        <td> {{ order.means_payment__description }} </td>
        <td> {{ order.total }} </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

{% endblock %}